
$primary:#fa4d56;
$secondary: #3d4c5a;

$black: #000000;

$dark-dark:#2e3d47;
$dark:#2e3d47;
$dark-light: #6f6f6f;

$light-dark:#f3f3f3;
$light: #f1f1f1;
$light-light:#ffffff;

$white: #ffffff;

$info: #ffbf00;
$input-style: #979797;

$small-space: 8px;
$space: 16px;
$large-space: 24px;

$text-larger: 18px;
$text-normal: 16px;
$text-smaller: 14px;

// $padding: 8px;
// $margin: 8px;

$raduis: 20px;
$content-color :  #f1f1f1;

$btn-default-color: transparent;

$content-width: 1140px;
$width-full: 100%;

// grid system
$grid-column: 12;