.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}


.text-info {
    color:#6f6f6f;
}

.text-important {
    color:#fa4d56;
}

.text-a {
    font-size: 18px;
    font-weight: 500;
}